---
layout: compress
---

<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">
    {% include head.html %}
    <body class="main-page has-push-menu">
        {% include svg-icons.html %}
        {% include header.html %}       
        <div class="section-hero">
            <footer>
                <p><span>DevelopingNodes</span> was made with <svg class="love"><use xlink:href="#icon-heart"></use></svg> by <a href={{"/about" | prepend: site.baseurl }} target="_blank" class="creator">Sonu Jose</a></p>
            </footer>
            <div class="section-title">Insights from Nodal world</div>
            <img src="assets/img/startup.svg" alt="Case Study" draggable="false" width="130" class="symbol">            
        </div> 
        <div class="top-tag">What's new</div>
        <section class="content">
            {{ content }}
        </section>
        {% include footer.html %}
    </body>
</html>

